<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Page - 내 정보 수정</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#btn-back").on("click", function () {
        history.back();
      });
    });
  </script>
</head>

<body>
<!-- 회원가입 영역부터는 템플릿 사용 x bootstrap 사용 디자인은 기능 중간 집계 이후 고칠 예정-->

<header class="container mt-3 py-5">
  <div class="container-fluid p-4 bg-light bg-gradient">
    <div class="container p-5 rounded">
      <h1 class="display-5 text-center fw-semibold text-muted"></h1>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="container-fluid">
      <form class="border border-secondary rounded-3 p-5" id="frm" action="/userUpdate">

        <!-- 내용 넣는 곳 -->
        <div class="p-5">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
              <!--  회원정보 타이틀 -->
              <div class="h4 pb-2 mb-4 text-black border-bottom border-secondary">
                회원정보
              </div>

              <!--  회원 이름 / 텍스트 라벨-->
              <div class="text-center">
                <div class="row g-3 p-3">
                  <div class="col-2">
                    <label for="userName" class="col-sm-3 col-form-label">이름</label>
                  </div>
                  <!--  회원 이름 / 텍스트 뷰 라벨 -->
                  <div class="col-10">
                    <input id="userName" name="userName" class="form-control" type="text" th:value="${session.user.userName}" readonly>
                  </div>
                </div>
              </div>

              <!-- 회원정보 아이디  -->
              <div class="text-center">
                <div class="row g-3 p-3">
                  <div class="col-2">
                    <label for="userId" class="col-sm-3 col-form-label">ID</label>
                  </div>
                  <!--  회원 아이디 / 텍스트 뷰 라벨 -->
                  <div class="col-10">
                    <input id="userId"  name="userId" class="form-control" type="text" th:value="${session.user.userId}" readonly>
                  </div>
                </div>
              </div>

              <!-- 회원정보 Pw  -->
              <div class="text-center">
                <div class="row g-3 p-3">
                  <div class="col-2">
                    <label for="userPw" class="col-sm-3 col-form-label">PW</label>
                  </div>
                  <!--  회원 Pw / 텍스트 뷰 라벨 -->
                  <div class="col-10">
                    <input id="userPw" name="userPw" class="form-control" type="text" th:value="${session.user.userPw}" >
                  </div>
                </div>
              </div>

              <!-- 회원정보 phone  -->
              <div class="text-center">
                <div class="row g-3 p-3">
                  <div class="col-2">
                    <label for="userPh" class="col-sm-3 col-form-label">Phone</label>
                  </div>
                  <!--  회원 phone / 텍스트 뷰 라벨 -->
                  <div class="col-10">
                    <input id="userPh" name="userPh" class="form-control" type="tel" th:value="${session.user.userPh}">
                  </div>
                </div>
              </div>

              <!-- 회원정보 Email  -->
              <div class="text-center">
                <div class="row g-3 p-3">
                  <div class="col-2">
                    <label for="userMail" class="col-sm-3 col-form-label">Email</label>
                  </div>
                  <!--  회원 Email / 텍스트 뷰 라벨 -->
                  <div class="col-10">
                    <input id="userMail" name="userMail" class="form-control" type="email" th:value="${session.user.userMail}">
                  </div>
                </div>
              </div>

              <div class="d-grid gap-2 d-md-flex justify-content-md-end p-3">
                <button id="btn-update" class="btn btn-outline-dark me-md-2" type="submit">수정 완료</button>
                <button id="btn-back" class="btn btn-outline-dark me-md-2" type="button">취소</button>

              </div>
            </div>
          </div>
        </div>
        <!--                <input type="hidden" id="method" name="_method">-->
      </form>
    </div>
  </div>

</main>


<!--footer-->
<footer th:replace="layout/Footer :: mainFooter"></footer>

</body>
</html>